services:
  api:
    build: 
      context: .
      dockerfile: API/docker/apache/Dockerfile
    volumes:
      - ./API/src:/var/www/html
    restart: always
    container_name: api
    ports:
      - 80:80
    depends_on: 
      - db
    networks:
      - my-network
  web:
    image: node:lts
    working_dir: /var/www/html/app
    volumes:
      - ./WEB:/var/www/html/app
    restart: always
    container_name: frontend
    command: bash -c "npm ci && npm run dev"
    tty: true
    ports:
      - 81:81
  db:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    container_name: db
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ci4
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    #volumes:
    #  - db_data:/var/lib/mysql
    #  - db_data/logs/mysql:/var/log/mysql
    networks:
      - my-network
  # phpmyadmin:
  #   links:
  #     - db:db
  #   image: phpmyadmin/phpmyadmin
  #   restart: always
  #   ports:
  #     - '8081:80'
  #   environment:
  #     PMA_HOST: db
  #     PMA_PORT: 3306
  #   networks:
  #     - my-network
volumes:
  src:
networks:
  my-network:
    driver: bridge